page-mobilenumber {

    .bg-color-contnet{

        background-color: #eeeeee;
       
      }

    .button-verify{
        margin: 32px 16px 16px 16px ;
        width: 96%;
        background-color: #2173a5;
        color: white;
        text-transform: none;
        padding: 25px;
    }
    .item-ios{
        background-color: #eeeeee;
        margin-right: 16px;
        margin-left: 16px;
          width: 90%;
          color: black;
    }
}
