page-suggestion {

    .bg-color-contnet{

        background-color: #eeeeee;
       
      }

      .button-send{
        margin: 32px 16px 16px 16px ;
        width: 92%;
        background-color: #2173a5;
        color: white;
        text-transform: none;
        padding: 25px;
        
    }

    .item-ios{
        background-color: #eeeeee;
        margin-right: 16px;
        margin-left: 16px;
          width: 90%;
          color: black;
    }

    .heading-text{
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
     .heading-description-text{
        font-size: 16px;
        font-weight: 600;
        color: #a4a4a4;
    }

    .heading-text-radio{
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
}
