page-verificationaddress {

    .bg-color-contnet{

        background-color: #eeeeee;
       
      }

      .description-text{
          color: #121212;
          font-size: 20px;
          font-weight: 600;
          margin-left: 16px;
          margin-right: 16px;
      }


      .item-ios{
          background-color: #eeeeee;
          margin-right: 16px;
          margin-left: 16px;
            width: 90%;
            color: black;
      }

      
      .label-md, .label-ios .checkbox-icon{top: 5px; }

      .label-ios .checkbox{
          margin-top: 10px;
          margin-left: 20px;

      }

      .label-ios {
        margin: 11px 8px 11px 0;
        color: black;
        font-weight: 600;
        font-size: 16px;
    }

    .button-confirm-rid{
        margin: 32px 16px 16px 16px ;
        width: 92%;
        background-color: #2173a5;
        color: white;
        text-transform: none;
        padding: 25px;
        
    }
      
}
